
.login-img[data-v-bd8d8b73] {
  width: 100%;
  height: 90%;
  background-image: url('./login-BKcYp8Lh.png');
  background-size: cover;
}
.login-container[data-v-bd8d8b73] {
  margin-left: 65%;
  margin-bottom: 140px;
}
